<!-- This is where the actual poll goes for a user to give their response to -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Answer Poll</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/response.css" />

  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display:wght@600&family=Source+Sans+Pro:wght@300;600&display=swap"
    rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
    integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  <!-- <script src="https://code.jquery.ui.touch-punch.min.js"></script> -->
  <script type="text/javascript" src="/scripts/response.js"></script>

</head>

<body>
  <header>
    <%- include('partials/header.ejs')%>
  </header>

  <div class="container">
    <div class="submit_window">
      <h2 id="success_window">Success!</h2>
      <h4 id="name_greet">Thank you for your response</h4>
      <button class="home_button">Back to homepage</button>
    </div>

    <div class="submission_form">
      <form class="submission">
        <h1 class="question">
          <%= question %>
        </h1>
        <p>Drag and drop to rank the options!</p>
        <ul id="sortable">
          <% options.forEach((option, i)=> { %>
            <li class="ui-state-default option" id=<%=option[0]%> title="<%=option[2]%>"> <%= option[1]%>
            </li>
            <% }) %>
        </ul>

        <% if(!anonymous) { %>
          <input class="name_box" name="name" placeholder="Your name"></input>
          <p class="error_name">Please enter your name to submit response</p>
          <% } %>

            <button class="submit_button" type="submit"><i class="fa fa-check"></i>Submit response</button>

    </div>
  </div>
  </form>
</body>

</html>
